---
---
article {

  margin: var(--module-half);
  align-items: center;

  transition: opacity 1s;

  header {
    height: var(--module-double-n-half);

    margin: 0 var(--module-half) 0 0;

    flex: 0 0 var(--module-double-n-half);

    position: relative;

    .medaile {
      display: none;
    }
  }

  section {
    background-color: #e0e0e0;
    flex: 1 1 100%;

    border-radius: var(--module);
    border-top-left-radius: 0;

    padding: var(--module-half) calc(3 * var(--module-quarter));
    color: rgba(0, 0, 0, .75);
  }

  &.my {
    flex-direction: row-reverse;

    header {
      margin: 0 0 0 var(--module-half);
    }

    section {
      border-top-left-radius: var(--module);
      border-top-right-radius: 0;
    }
  }

  &.medaile {
    .medaile {
      display: flex;
    }
  }

  &.loading {
    opacity: 0;
  }

  &.unread {
    > header .icon:after {
      content: "";
      display: block;
      position: absolute;
      background: #6a6;
      height: var(--module-n-half);
      width: var(--module-n-half);
      top: calc(-1 * var(--module-quarter));
      right: calc(-1 * var(--module-quarter));;

      border-radius: 50%;
      box-shadow: 0 0 var(--module-half) rgba(0, 0, 0, 0.05);
    }
  }
}

.button.medaile {
  position: absolute;

  height: var(--module-n-half);
  width: var(--module-n-half);

  border-radius: 50%;
  background-color: yellow;

  bottom: calc(-3*  var(--module-quarter));

  box-shadow: 0 0 var(--module-half) rgba(0,0,0,.05);
}