---
---
:root {
  --module: 1.618rem;
  --module-half: 0.809rem;
  --module-quarter: 0.4045rem;
  --module-n-half: 2.427rem;
  --module-double: 3.236rem;
  --module-double-n-half: 4.045rem;
}

html, body {
  font-size: calc(15px + 0.1vh + 0.1vw);

  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  height: 100%;

  overscroll-behavior-y: none;
}

body {
  line-height: var(--module);
  font-family: Arial, sans-serif;

  background-color: #333;
}

main, header, article, section, div {
  display: flex;
}

.content {
  //flex-direction: column;
  position: relative;

  min-height: 100%;

  padding-top: var(--module-double-n-half);
  margin-top: calc(-1 * var(--module-double-n-half));
  > header, > main {
    transition: transform .25s;
  }
  > header {
    position: fixed;

    top: 0;

    z-index: 11;

    width: 100%;

    background-color: #069;
    color: rgba(255, 255, 255, .9);

    box-shadow: 0 0 var(--module-half) rgba(0, 0, 0, .15);

    flex: 0 0 var(--module-double-n-half);

    align-items: center;
    justify-content: center;

    & > .button {
      flex: 0 0 var(--module-double-n-half);
    }

    & > span {
      //display: flex;
      flex: 1 0 var(--module-double-n-half);
      text-align: center;

      font-size: 1.2rem;
      font-weight: bold;

      //border: 1px solid #f0f0f0;
      //border-width: 0 1px;

      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.panning .content > header {
  position: absolute;
  top: var(--module-double-n-half);
}

.panning {
  &.conversationMenu, &.conversationsMenu {
    .content main {
      position: absolute;
    }
  }
}

main {
  flex-direction: column;
  padding: calc(3 * var(--module)) 0;

  width: 100%;

  background-color: #ececec;

  > div {
    flex-direction: column;
  }
}

aside {
  background-color: #e6e6e6;
  width: 0;
  position: fixed;
  overflow: hidden;

  transition: transform 0.25s;

  &.conversations {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    li {
      height: var(--module-double-n-half);
      padding-top: var(--module-quarter);
    }
    a {
      display: flex;
      height: var(--module-double-n-half);
      align-items: center;

      padding: 0 var(--module) 0 calc(3 * var(--module));

      background: var(--module-half) center no-repeat;
      background-size: var(--module-double);

      background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="%23069" cx="50" cy="50" r="40"/></svg>');

      span {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.add-button {
  position: fixed;
  bottom: 0;
  right: 0;

  padding: var(--module-half);

  z-index: 10;
}

.log {
  display: none;

  position: fixed;
  bottom: var(--module-n-half);
  left: var(--module);
  height: var(--module-double);
  width: calc(100% - var(--module-double-n-half));
  background: #333;
  color: white;
  padding: var(--module-quarter);
  font: .75rem monospace;
}
