---
---
body > main:before {
  display: flex;
  height: var(--module-double-n-half);
  width: var(--module-double);

  content: "";

  position: absolute;
  top: calc(-1 * var(--module-double-n-half));
  left: calc(50% - var(--module));

  opacity: 0;

  background: center no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="rgba(0,0,0,.6)"><path d="M 46.072915,20.546875 V 64.419777 L 27.784877,46.131716 22.231737,51.684897 49.999999,79.453122 77.768259,51.684897 72.215119,46.131716 53.927082,64.419777 V 20.546875 Z"/></svg>');

  transition: transform .25s;
}

.to-be-refreshed > main:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panning > main:before {
  opacity: 1;
}

.loading, .resetting {
  > main, > header, > main:after {
    transition: transform .25s;
  }
  > main:before {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="rgba(0,0,0,.15)"><style>@keyframes morph {0% { opacity: 0.5;} 50% {opacity: 1} 100% {opacity: 0.5}} circle:nth-child(2) { animation: morph .5s linear 0s infinite } circle:nth-child(3) { animation: morph .5s linear .25s infinite } </style><circle id="c1" cx="20" cy="50" r="20"/><circle id="c2" cx="80" cy="50" r="20"/></svg>');
  }
}

.loading > main, .loading > header {
  transform: translate3d(0, var(--module-double-n-half), 0);
}
